.card-container{
            // border: 1px solid #c2cfd9;
            border-radius: 5px;
            height: 200px;
            // width: 70%;
            width: 500px;
            display: flex;
            flex-direction: column;
}